services:
  postgres:
    image: postgres:17
    container_name: ecommerce-db
    environment:
      POSTGRES_USER: yigit
      POSTGRES_PASSWORD: "D4m!9Xq@Lw82kPz"
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
